<div class="container carousels">
  <div class="row">
    <div
      class="col-12 col-sm-6 d-flex flex-row justify-content-center align-items-center"
    >
      <div
        id="carouselOne"
        class="carousel slide w-100"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner carousel-item-wrapper">
          <div class="carousel-item active" data-bs-interval="5000">
            <img
              src="/page/img/slider-frame.svg"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item" data-bs-interval="5000">
            <img
              src="/page/img/slider-frame.svg"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item" data-bs-interval="5000">
            <img
              src="/page/img/slider-frame.svg"
              class="d-block w-100"
              alt="..."
            />
          </div>
        </div>
      </div>
    </div>
    <div
      class="col-12 col-sm-6 d-flex flex-row justify-content-center align-items-center"
    >
      <div
        id="carouselTwo"
        class="carousel slide w-100"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner right-carousel-wrapper">
          <div class="carousel-item-wrapper right-carousel">
            <div class="carousel-item active" data-bs-interval="5000">
              <h4 class="title-slider title-slider-1">
                Что такое LUNA LUXE?
              </h4>
              <p class="text-slider text-slider-1">
                Забота о молодости кожи во время сна и непревзойденный
                комфорт.
              </p>
            </div>
            <div class="carousel-item" data-bs-interval="5000">
              <h4 class="title-slider title-slider-2">
                Что такое LUNA LUXE?
              </h4>
              <p class="text-slider text-slider-2">
                Продукты для идеального бьюти-сна, разработанные командой
                профессионалов.
              </p>
            </div>
            <div class="carousel-item" data-bs-interval="5000">
              <h4 class="title-slider title-slider-3">
                Что такое LUNA LUXE?
              </h4>
              <p class="text-slider text-slider-3">
                Европейские сертифицированные материалы самого высокого
                качества.
              </p>
            </div>
          </div>
        </div>
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="0"
            class="active indicator"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="1"
            aria-label="Slide 2"
            class="indicator"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="2"
            aria-label="Slide 3"
            class="indicator"
          ></button>
        </div>
      </div>
    </div>
  </div>
</div>